body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
.form{
  text-align: center;
  background-color:cyan;
  width:30px;
  height:27px;
}
button{
    width:400px;
    height: 40px;
}
img{
    height: 20px;
}

h1{
    size:70px;
}